/*============Filters============*/
.filters {
	&__title {
		font-family: $ff;
		font-size: 20px;
		font-weight: 700;
		color: $bl;
		line-height: 1.4;
		margin-bottom: 18px;
	}
	&__section {
		margin-bottom: 40px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__links {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	&__link {
		display: inline-block;
		font-family: $ff;
		font-size: 18px;
		font-weight: 600;
		color: $bl;
		line-height: 1.44;
		transition: all .2s linear;
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
		span {
			&:nth-child(2) {
				margin-left: 10px;
				font-weight: 400;
				color: $gray2;
			}
		}
		&:hover {
			span {
				&:first-child {
					color: $brown;
				}
			}
		}
	}
	&__header {
		font-family: $ff;
		font-size: 16px;
		font-weight: 600;
		color: $bl;
		line-height: 1.5;
		margin-bottom: 10px;
		padding-right: 30px;
		position: relative;
		cursor: pointer;
		&:after {
			content: "";
			width: 24px;
			height: 24px;
			background: url("../images/arrow-down.svg") center no-repeat;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			z-index: 1;
			transition: all .3s linear;
		}
		&.active {
			&:after {
				transform: translateY(-50%) rotate(180deg);
				background: url("../images/arrow-down_brown.svg") center no-repeat;
			}
		}
	}
	&__row {
		display: flex;
		margin-bottom: 10px;
		.form-input {
			width: 50%;
			margin-right: 10px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&__block {
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__content {
		display: none;
		* {
		  scrollbar-width: thin;
		  scrollbar-color: $wh $d-lgray;
		}
		*::-webkit-scrollbar {
		  height: 5px;
		  width: 5px;
		  border-radius: 10px;
		}
		*::-webkit-scrollbar-track {
		  background: $wh;
		}
		*::-webkit-scrollbar-thumb {
		  background-color: $wh;
		  border-radius: 10px;
		  border: 5px solid $d-lgray;
		}
		&.show {
			display: block;
		}
	}
	.search {
		svg {
			stroke: $gray3;
		}
	}
	&__item {
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__more {
		display: none;
		margin-bottom: 10px;
		&-link {
			display: inline-block;
			margin-top: 5px;
			font-family: $ff;
			font-size: 14px;
			font-weight: 600;
			color: $brown;
			line-height: $lh;
		}
	}
	&__box {
		max-height: 160px;
		overflow-y: auto;
		padding-right: 5px;
	}
	&__buttons {
		.btn {
			width: 100%;
			border-radius: 8px;
			margin-bottom: 20px;
			padding: 10.5px 10px;
			font-size: 18px;
		}
		.btn-transparent {
			width: 100%;
			border-radius: 8px;
			padding: 11.55px 10px;
			font-size: 16px;
			color: $gray2;
			svg {
				stroke: #9E9C9B;
			}
		}
	}
	.form-range {
		@media(min-width: 761px) {
			max-width: 250px;
		}
	}
}
/*============/filters============*/