/*============Popup==========*/
.popup {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0px;
	display: none;
	overflow: auto;
	left: 0px;
	background: rgba(26, 24, 24, 0.3);
	padding-bottom: 30px;
	z-index: 500;
	* {
	  scrollbar-width: thin;
	  scrollbar-color: $d-lgray $wh;
	}
	*::-webkit-scrollbar {
	  height: 4px;
	  width: 4px;
	  border-radius: 35px;
	}
	*::-webkit-scrollbar-track {
	  background: $wh;
	}
	*::-webkit-scrollbar-thumb {
	  background-color: $d-lgray;
	  border-radius: 27px;
	  border: 3px solid $d-lgray;
	}
	&__inner {
		opacity: 1;
		width: 95%;
		max-width: 500px;
		top: 150px;
		left: 50%;
		transform: translateX(-50%);
		position: absolute;
		display: none;
		z-index: 600;
 	}
	.closex {
		content:"";
		top:0px;
		left:0px;
		width: 100%;
		height: 100%;
		position: fixed;
 		z-index: 600;
	}
	&__box {
		background-color: $wh; 
		max-height: calc(100vh - 200px);
		border-radius: 8px;
		overflow-y: auto;
	}
	&.show {
		visibility: visible;
		opacity: 1;
		transition: all 1.7s linear;
	}
	&__close {
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		cursor: pointer;
		position: absolute;
		top: 15px;
		right: 15px;
		z-index: 2000;
		svg {
			width: 24px;
			height: 24px;
			fill: none;
			stroke: $gray;
			transition: all .2s linear;
		}
		&:hover {
			stroke: $brown;
		}
	}
	&__content {
		padding: 30px 50px;
	}
	&__title {
		font-family: $ff;
		font-size: 18px;
		font-weight: 700;
		color: $bl;
		line-height: 1.44;
		margin-bottom: 20px;
		text-align: center;
	}
	.btn {
		width: 100%;
		font-size: 14px;
		padding: 13.5px 10px;
	}
	.form-input {
		input {
			background-color: $f-gray;
		}
	}
	.form-select {
		select {
			background-color: $f-gray;
		}
	}
	&-order {
		.popup__content {
			padding: 30px 40px;
		}
		.popup__inner {
			max-width: 1000px;
		}
		.popup__title {
			text-align: left;
		}
		.table {
			margin-bottom: 30px;
		}
		.product {
			&__name {
				font-size: 14px;
			}
			&-cart {
				&__header {
					padding: 10px 30px;
					.product-cart__col:first-child {
						padding-left: 0;
					}
				}
				&__col {
					margin-right: 50px;
					&:last-child {
						margin-right: 0;
					}
				}
				&__item {
					padding: 10px 30px;
				}
				&__price {
					font-size: 14px;
				}
				&__photo {
					min-width: 80px;
					width: 80px;
					img {
						height: 70px;
					}
				}
				.product-data__content {
					font-weight: 500;
				}
			}
		}
	}
	&-location {
		* {
		  scrollbar-width: thin;
		  scrollbar-color: $brown #EFF0F2;
		}
		*::-webkit-scrollbar {
		  height: 4px;
		  width: 4px;
		  border-radius: 5px;
		}
		*::-webkit-scrollbar-track {
		  background: #EFF0F2;
		}
		*::-webkit-scrollbar-thumb {
		  background-color: $brown;
		  border-radius: 27px;
		  border: 3px solid $brown;
		}
		.popup {
			&__inner {
				max-width: 600px;
			}
			&__content {
				padding: 30px;
			}
		}
	}
}
/*============/popup==========*/

/*==========Adaptive===========*/
@media(max-width: 991px) {
	.popup {
		&-order {
			.popup__content {
				padding: 30px 20px;
			}
		}
	}
}

@media(max-width: 765px) {
	.popup {
		&__inner {
			top: 15px;
		}
		&__box {
			max-height: calc(100vh - 30px);
		}
		&__close {
			top: 10px;
			right: 10px;
			svg {
				width: 24px;
				height: 24px;
			}
		}
		&__content {
			padding: 30px;
		}
		&-order {
			.popup__content {
				padding: 30px 20px 100px;
			}
			.product-cart {
				&__item {
					padding: 20px;
				}
				&__description {
					display: block;
					margin-right: 10px;
				}
				&__col {
					&:first-child {
						margin-bottom: 15px;
					}
					&:nth-child(n+2) {
						width: 100%;
						margin-right: 0;
						display: flex;
						justify-content: space-between;
						align-items: center;
						margin-bottom: 15px;
					}
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
		&-location {
			.popup__inner {
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}
/*==========/adaptive===========*/